<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入css样式 -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/welcome.css">
</head>

<body>
    <%- include('../components/header.ejs')%>
        <div class="container">
            <div class="row main">
                <!-- 左栏 -->
                <div class="col-md-2 item-left">
                    <%- include('../components/aside.ejs')%>
                </div>
                <!-- 右栏 -->
                <div class="col-md-10 item-right">
                    <!-- 路径导航 -->
                    <ol class="breadcrumb">
                        <li><a href="#">当前位置</a></li>
                        <li><a href="#">商品管理</a></li>
                        <li><a href="#">列表</a></li>
                    </ol>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!-- 查询 -->
                            <form action="/api/proFind" class="form-inline">
                                <div class="form-group">
                                    <label for="xingming">产品名称</label>
                                    <input type="text" name="keywords" id="xingming" class="form-control">
                                    <button class="btn btn-primary">搜索</button>
                                </div>
                            </form>
                            <!-- 表格 -->
                            <table class="table table-hover table-bordered" style="margin-top: 20px;">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>产品名称</th>
                                        <th>价格</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0;i<prolist.length;i++){%>
                                        <tr>
                                            <td>
                                                <%=i+1%>
                                            </td>
                                            <td>
                                                <%=prolist[i].proname%>
                                            </td>
                                            <td>
                                                <%=prolist[i].price%>
                                            </td>
                                            <td>
                                                <a href="/api/prolist/update?_id=<%=prolist[i]._id%>"
                                                    class="update">修改</a>
                                                <a href="javascript:;" class="delete" id="#myDelete" data-toggle="modal"
                                                    data-target="#myDelete" data-id="<%=prolist[i]._id%>">删除</a>
                                            </td>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 分页 -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li><a href="#">总共<%=total%>条数据</a></li>
                            <li class="<%=page==1?'disabled':''%>"><a href="/api/prolist?page=1">首页</a></li>
                            <li class="<%=page==1?'disabled':''%>"><a href="/api/prolist?page=<%=page-1%>">上一页</a></li>
                            <%for(let i=1;i<=totalPages;i++){%>
                                <li class="<%=page==i?'active':''%>">
                                    <a href="/api/prolist?page=<%=i%>">
                                        <%=i%>
                                    </a>
                                </li>
                            <%}%>
                                <li><a href="/api/prolist?page=<%=page=page<totalPages?page+1:totalPages%>">下一页</a>
                                </li>
                                <li><a href="/api/prolist?page=<%=totalPages%>">最后一页</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- 删除模态框 -->
        <!-- Modal -->

        <div class="modal fade" id="myDelete" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- 设置表单获取id -->
                    <form action="/api/prolist/delete">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">亲..</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="deleId" name="_id">
                            你确定要删除吗？
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default">残忍删除</button>
                            <button class="btn btn-primary" data-dismiss="modal">再想想</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/welcome.js"></script>
        <script>
            // 获取删除数据的id
            $('.delete').on('click', function () {
                $('#deleId').val($(this).attr('data-id'))
            })
        </script>
</body>

</html>